@import  url("reset.css");

.aa {
    color: white;
    background: black;
    font-size: 24px;
    display: block;
    padding: 20px 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

.first {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0px;
    outline: 1px solid black;
}

.fff {
    outline: 2px solid black;
    background: yellow;
    color: #000000;
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
.www {
    outline: 2px solid black;
    background: purple;
    color: #000000;
    width: 800px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
}

.qqq {
    outline: 2px solid black;
    background: purple;
    color: #000000;
    width: 400px;
    height: 133px;
    font-size: 20px;
    padding: 10px;
}

.fff-3 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 400px;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.fff-3-1 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 800px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
}

.fff-333-2 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 800px;
    height: 200px;
    font-size: 0px;
    display: inline-block;
}

.zzz {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.zzz1 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 100px;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.rr{
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 200px;
    font-size: 0px;
    display: inline-block;
}

header {
    background: #000000;
    margin: 10px 0px;
    color: aliceblue;
    padding: 30px;
}

p {
    font-size: 30px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    display: inline-block;
    vertical-align:bottom;
}

.a1 {
    text-align: right;
    font-size: 50px;
    display: inline-block;
    margin-left: 130px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(28, 45, 198);
    background: #ccc;
    border-radius: 6px;
}
.a1:hover {
    color: red;
}
.a1:active {
    color: green;
}

.a12 {
max-width: 1200px;
font-size: 0px;
margin: 0 auto;
text-align: center;
}

h1 {
text-align: center;
margin: 0 auto;
padding: 10px;
font-size: 22px;
color: #000000;
}
h1::before {
content: '1234';
color: blue;
display: block;
}
h1::after {
content: '4321';
color: blue;
}

.wrapper div {
    max-width: 1200px;
    margin: 0 auto;
    outline: 2px black solid;
}


.parent {
background: rgb(239, 239, 166);
}

.child {
font-size: 30px;
width: 400px;
height: 400px;
float: left;
}

.second-cnt {
background: rgb(143, 143, 220);
font-size: 22px;
}

.sc2 {
width: 800px;
float: left;
}

.sc2>div {
    height: 200px;
}

.sc2 + .sc2 {
width: 400px;
}

.sc2+.sc2 > div {
height: 133px;
}

.third {
    background: rgb(192, 141, 150);
}

.third1div {
    font-size: 30px;
    width: 400px;
    height: 400px;
    float: left;
    padding: 10px;
}

.rta {
    width: 800px;
    height: 200px;
    float: left;
    font-size: 25px;
    padding: 10px;
}

.qwe {
    width: 400px;
    height: 200px;
    float: left;
    font-size: 25px;
    padding: 10px;
}

.eqw {
    width: 400px;
    height: 100px;
    float: left;
    font-size: 25px;
    padding: 10px;
}