@import  url("reset.css");

a {
    color: white;
    background: black;
    font-size: 24px;
    display: block;
    padding: 20px 10px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.first {
    width: 1200px;
    margin: 0 auto;
    font-size: 0px;
    outline: 1px solid black;
}

.fff {
    outline: 2px solid black;
    background: yellow;
    color: #000000;
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}
.www {
    outline: 2px solid black;
    background: purple;
    color: #000000;
    width: 800px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
}

.qqq {
    outline: 2px solid black;
    background: purple;
    color: #000000;
    width: 400px;
    height: 133px;
    font-size: 20px;
    padding: 10px;
}

.fff-3 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 400px;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.fff-3-1 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 800px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
}

.fff-333-2 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 800px;
    height: 200px;
    font-size: 0px;
    display: inline-block;
}

.zzz {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.zzz1 {
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 100px;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}

.rr{
    color: black;
    background: pink;
    outline: 2px solid black;
    width: 400px;
    height: 200px;
    font-size: 0px;
    display: inline-block;
}


